.container {
    height: 480px;
    width: 230px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    margin-left: 100px;
    margin-top: 30px;
}

.online-list {
}

.online-title {
    display: inline-block;
    font-size: 12px;
    margin: 3px 5px;
    float: left;
}

.message-container {
    height: 291px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

/*
a.warn-msg {
    display: inline-block;
    float: right;
    text-decoration: none;
    color: #666666;
}

.warn-num {
    display: inline-block;
    background: #FFA357;
    padding: 1px 3px;
}
*/

.interaction {
    width: 100%;
    height: 26px;
    position: absolute;
    top: 448px;
    left: 0;
}

.interaction #msg {
    width: 150px;
    float: left;
    margin-left: 4px;
}

.interaction .send {
    background: #F49909;
    width: 60px;
    height: 100%;
    font-size: 14px;
    float: right;
    margin-right: 4px;
}

.interaction .send:hover {
    background: #FDAA24;
}

/*聊天信息头像显示*/
.message-container .s-msg .photo img {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.s-msg {
    margin: 20px 0;
}

.photo {
    display: inline-block;
    margin-left: 5px;
    float: left;
}

.right { zoom: 1; }
.right:after {
    display: block;
    content: 'clear';
    clear: both;
    line-height: 0;
    visibility: hidden;
}

.right .photo {
    float: right;
    margin-left: 0;
    margin-right: 5px;
}

.txt-container {
    border: 1px solid #EEEEEE;
    padding: 5px 10px;
    display: inline-block;
    min-width: 18px;
    min-height: 32px;
    max-width: 140px;
    margin-left: 10px;
    position: relative;
    border-radius: 5px;
}

.right .txt-container {
    margin-right: 10px;
    margin-left: 0;
    float: right;
}

.txt {
    font-size: 12px;
}
